<html>
  <head>
    <title>Sneakers | <%= name %></title>
  </head>
  <body>
    <div>
      <h1><%= name %></h1>
      <p><%= description %></p>
      <h4><%= variant %></h4>
      <h4><%= price %></h4>
    </div>
  </body>
</html>
